/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0.5em;
}


.thead {
  background-color: #b9b9b9;
}

#pac-container {
  padding-bottom: 12px;
  background-color: #b3cefa;
  border-radius: 1em;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  min-width: 500px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.table-weather {
  height: 500px;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .header {
    font-size: 1.5rem;
  }
  #pac-input {
    min-width: 100px;
  }
} 